.sapWiseAvailObjects .sapMPageHeader::before {
  border: 0;
}

/* [data-selectable="false"] div[role="checkbox"] */

.sapWiseAvailObjects li div[role="checkbox"] {
  display: none;
}

.sapWiseAvailObjects li[data-state="Incompatible"] {
  font-style: italic;
  color: lightgray;
}