.sacrPageToolbar {
  padding: 0 1rem;
  border-radius: 3px;
  border: 1px solid gray;
  background: #eaeaea;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.sacrPageToolbar .sapUiLayoutCSSGrid {
  align-items: center;
}
